.logo{
    text-decoration: none;
    /* color: #fff; */
    font-size: 1.5rem;
    margin-right: 40px;
    color: #bda600;
    font-weight: bold;
}

.logo:hover{
    color: #fff;
}

.nav .navlink{
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}

.loginLink{
    text-decoration: none;
    margin: auto;
    margin-right: 10px;
    color: #fff;
}

.logoutBtn{
    border: none;
    border-radius: 5px;
    background: #002d74;
    color: #fff;
    padding: .3rem 1rem;
    margin-right: 10px;
}

.userPic{
    width: 2rem;
    margin-right: 10px;
    border-radius: 50%;
}
