.services h2{
    font-weight: bolder;
    font-size: 2.5rem;
}

.services h2 span{
    color: #002d74;
}

.service-container{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}


/* media queries */

@media (max-width: 1700px){
    .service-container{
        grid-template-columns: repeat(2,1fr);
        
    }
}

@media (max-width: 768px){
    .service-container{
        grid-template-columns: repeat(1,1fr);
        
    }
}